<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/HomeStyles.css" media="screen" title="no title" charset="utf-8">
  <title>UT BootCamp Students' Forum</title>
  {{!-- Font awesome --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
  {{!--
  <!-- Custom fonts for this template --> --}}

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  {{!-- Favicon --}}
  <link rel="shortcut icon" type="image/ico" href="#" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  {{!-- moment in case we need it to save time of comments and posts --}}
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">UT Student Forum</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          {{!-- <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" id="creatpostBtn" href="/post" data-toggle="modal" data-target="#createpostModal">Create
              Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="loginBtn" href="/login" data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logoutBtn" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="createBtn" href="/register" data-toggle="modal" data-target="#registerModal">Register</a>
          </li>
          <li>
            <div class="dropdown">

              <a class=" btn-secondary dropdown-toggle pl-2 pr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Forums
              </a>
              <div class="dropdown-menu" id="forum-dropdown" aria-labelledby="dropdownMenuButton">
                {{!-- <a class="dropdown-item" href="/f/1">Dropdown nav bar links</a> --}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->

  <header class="masthead img-fluid">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome!</h1>
            <span class="subheading">UT Students' Forum</span>
          </div>
        </div>
      </div>
    </div>

  </header>

  <!-- Left Nav -->

  <div class="container">

    <div class="row">
      <div class="col-3">
        <div class="card bkg2">
          <div class="card-header header"><b>Forums</b></div>
          <div class="card-body">
            <ul id="forum-left">
              {{!-- <li class="nav-item" scope="col"><a class="nav-link forumwhite" href="/f/1">Left nav bar links</a></li> --}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="card ">
          <div class="card-header header mb-3 ">

            <div class="dropdown">
              <a class=" btn-secondary dropdown-toggle pl-2 pr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Organize by
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item bytime" href="/byTimeAsc">Newest</a>
                <a class="dropdown-item bytime" href="/byTimeDesc">Oldest</a>
                {{!-- <a class="dropdown-item byauthor" href="#">Author</a>
                <a class="dropdown-item bycomments" href="#">More comments</a> --}}
              </div>
            </div>

          </div>
        </div>
        {{{body}}}
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; UT Austin Forum 2019</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input class="form-control login-username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control login-password" placeholder="Password" type="password">
          </div>
          <div style="display: none" id="loginAlert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="loginSubmit">Login</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input class="form-control register-username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control register-password" placeholder="Password" type="password">
          </div>
          <div style="display: none" id="registerAlert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="registerSubmit">Register</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Create Post Modal -->
  <div class="modal fade" id="createpostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Create a Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="dropdown">
            <label for="post-title">Pick a Forum</label>
                <div class="col-auto my-1">
                  <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                  <select class="custom-select mr-sm-2" id="forum-createPost">
                    <option selected>Pick a Forum...</option>
                    {{!-- <option value="1">Creat post in modal links</option>--}}
                  </select>
                </div>
          </div>
          <div class="form-group">
            <label for="post-title">Post Title</label>
            <input id="post-title" class="form-control post-title" placeholder="Title">
          </div>

          <div class="form-group">
            <label for="post-post">Post</label>
            <input id="postBody" class="form-control post-body" placeholder="Post">

            </input>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="createpost">Create</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/index.js" type="text/javascript"></script>
    <script src="../js/posts.js" type="text/javascript"></script>
    <script src="../js/comment.js" type="text/javascript"></script>

</body>

</html>