<!-- Main Content -->
<div class="container">
    {{#each topics}}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{{this.id}}">
                    <h2 class="post-title">{{this.title}}</h2>
                <h3 class="post-subtitle">
                    {{this.subtitle}}
                </h3>
                </a>
            </div>
        </div>
    </div>
    {{/each}}
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>
</div>

<hr>