      <div style="display: none; position: absolute; z-index: 500; top: 5%; margin: auto; width: 100%; font-family:'Courier New', Courier, monospace; color: white" id="registerAlert">
         <div style="background-color: #ed2553; border-radius: 20px; width: 300px; height: auto; margin: auto; padding: 5px;">
            {{!-- <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> --}}
            <span>Error:</span> <span class="msg"></span>
          </div>
          </div>
 <div class="materialContainer">


        <div class="box">
     
           <div class="title" id="exampleModalCenterTitle">LOGIN</div>
     
           <div class="input">
              <label for="name" for="exampleInputUsername1" >Username</label>
              <input type="text" name="name" id="name" class="login-username">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <label for="pass" for="exampleInputPassword1">Password</label>
              <input type="password" name="pass" id="pass" class="login-password">
              <span class="spin"></span>
           </div>
     
           <div class="button login">
              <button id="loginSubmit"><span>GO</span> <i class="fa fa-check"></i></button>
           </div>
     
           
     
        </div>
     
        <div class="overbox">
          
           <div class="material-button alt-2"><span class="shape"></span></div>
     
           <div class="title">REGISTER</div>
     
           <div class="input">
              <label for="regname">Username</label>
              <input type="text" name="regname" id="regname" class="register-username">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <label for="regpass">Password</label>
              <input type="password" name="regpass" id="regpass" class="register-password">
              <span class="spin"></span>
           </div>
     
     
           <div class="button">
              <button id="registerSubmit"><span>NEXT</span></button>
           </div>
     
        </div>
     
     </div>